$bg-color: #f6ecea;
$bg-color-2: #efd5c6;
$text-color: #161f27;
$text-color-light: #4f4f4f;
$border-color: #1b3136;
$box-shadow-color: #10162f;
$white-color: #ffffff;
$dark-color: #172b33;
$gray-color: #c1c1c0;
$wandering-willow-color: #a9ab9a;
$copper-penny-color: #b06d6f;
$green-color: #7cd420;
$dark-yellow-color: #dfa251;
$coral-color: #ea6e4f;
$pink-color: #e2477b;

$violet-color: #a496c9;
$primary-color: #3c75ba;
$danger-color: #ea574d;
$warning-color: #f8c82a;
$success-color: #82ceca;

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
