@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.profile {
	.profile__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 12px;

		.profile__header__avatar {
			height: 120px;
			width: 120px;

			img {
				width: 100%;
				border-radius: 50%;
				border: 3px solid $border-color;
			}
		}
		.profile__header__name {
			span {
				font-size: 1.8rem;
				font-weight: 700;
				text-align: center;
			}
		}
		.profile__header__status {
			display: flex;
			justify-content: center;
			align-items: center;
			span {
				margin-left: 6px;
				font-size: 1.4rem;
				font-weight: 700;
			}
		}
	}
	.profile__body {
		margin-top: 14px;

		&__introduce {
			margin: 12px 0;
			padding: 12px 4px;
			font-size: 1.2rem;
			font-weight: 600;
			border-bottom: 2px solid $border-color;

			span {
				font-size: 1.4rem;
				font-weight: 900;
			}
		}

		.list-info-user {
			display: flex;
			flex-direction: column;
			gap: 4px;

			.list-info-user__item {
				padding: 0 6px;
				display: flex;
				align-items: center;
				min-height: 32px;
				border: 2px solid $border-color;
				p {
					font-weight: 600;
					font-size: 1.3rem;
					span {
						font-size: 1.4rem;
						font-weight: 900;
					}
				}
			}
		}

		.list-attached-file {
			display: flex;
			flex-direction: column;
			gap: 4px;

			.list-attached-file__item {
			}
		}
	}
}
